<div class="uk-section" uk-grid>
    <div class="uk-width-1-2@m" style="position:relative;"><img data-src="/images/logo/logo_black.png" alt="Daintree" uk-img></div>
    <div class="uk-width-1-2@m uk-margin-remove-top">
      <p class="">A quality development by S P Setia.</p>
      <p class="uk-margin-remove"><span uk-icon="icon: mail"></span> info@daintree.sg</p>
      <p class="uk-margin-remove"><span uk-icon="icon: receiver"></span> 97607757</p>
      <p class="uk-margin-small uk-text-muted uk-text-small">Copyright &#169; 2019</p>
    </div>
</div>
