<div id="nav-container">
  <div class="uk-container" style="position: relative;">
    <img id="nav-logo" src="/images/logo/logo_white.png" alt="Daintree">
    <div id="nav-sub">
      <a href="contact.html"><span uk-icon="icon: receiver"></span> Contact Us</a><span> Let's get in touch.</span>
    </div>
  </div>
</div>
