/* Color Schemes
darkslategray/47, 79, 79 - main theme, dark green
#829595 - side theme, lighter green
#bca68f/188,166,143 - accent, red-brownish
*/
/* Use Nunito font-family for normal text, Cookie for fancy text */

h1, h2, h3, h4, h5, h6, * {
  font-family: 'Nunito', sans-serif;
  font-weight: 450;
}

p {
  font-size: 18px;
}

html {
  min-width: 200px;
  background-color: rgb(248, 248, 248)
}
a:hover, a:active {
  text-decoration: none !important;
}

footer {
  background-image: url("/images/backgrounds/redox_01_@2X.png");
  border-top: 2px solid darkslategray;
}
footer * {
  text-align: left;
  font-size: 22px;
}
footer img {
  max-height:120px;
  display:block;
  position: absolute;
  right:0;
}
footer p>a, .link {
  color: darkslategray;
  font-weight: bold;
}
footer>.uk-section {
  padding-bottom:40px;
}
.uk-table {
  border: 2px solid #829595;
}
th[colspan] {
  color:white;
  background-color: #829595;
}
thead>tr:not(:first-child)>th {
  color: darkslategray;
}
ul li {
  font-size: 18px;
}

/* Chevron animation on links */
.button-arrow {
  background-color: transparent;
  color: #333;
  font-size: 18px;
  padding: 7px;
  border: 1px solid #bca68f;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-arrow:after {
  opacity: 0;
  content: '>';
  position: absolute;
  right: -10px;
  transition: 0.5s;
}
.button-arrow:hover, .button-arrow:focus {
  padding-right: 25px;
  color: #333;
}
.button-arrow:hover:after, .button-arrow:focus:after {
  opacity: 1;
  right: 10px;
}


.curly-font {
  font-family: 'Cookie', cursive;
}
.shadow-font {
  text-shadow: 0.1em 0.1em 0 rgba(188, 166, 143, 0.3);
  font-weight: bolder;
}
.green-font, .green-font * {
  color: darkslategray;
}
.white-font, .white-font * {
  color: white;
}
.green-bg {
  background-color: darkslategray;
}
.green-bg > div {
  padding: 10px;
}
.brown-border {
  border: 2px solid #bca68f;
}
.dark-slidenav>li>a {
  background-color: rgba(188,166,143,0.3);
  border-color: rgba(188,166,143,0.3);
}
.dark-slidenav>.uk-active>a {
  background-color: #bca68f;
}

.divider
{
	position: relative;
	margin: 40px 0px 40px 0px;
	height: 1px;
}
.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(188,166,143), transparent);
}
.floorplans>div>a, .green-btn{
  display:inline-block;
  line-height: 30px;
  width:150px;
  padding: 5px;
  margin: 5px;
  border: 2px solid #829595;
  border-radius: 5px;
  text-align: center;
  color: #666;
}
.green-btn>a {
  color: #666;
}
.fix-margin-top {
  margin-top: 0px !important;
}
.home-title {
  font-size: 2.8rem;
}
.underline {
  text-decoration: underline;
}
.uk-align-center {
  margin-top: 0px;
  margin-bottom: 0px;
}
.uk-checkbox {
  border-color: #829595;
  width: 20px;
  height: 20px;
}
.uk-section {
  padding-top: 20px;
  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.8s; /* Firefox < 16 */
  -ms-animation: fadein 0.8s; /* Internet Explorer */
  -o-animation: fadein 0.8s; /* Opera < 12.1 */
  animation: fadein 0.8s;
}
/* This is for contact page indicate interest */
.uk-section:nth-of-type(2) {
  margin-top: 40px;
  padding-bottom:20px;
}
/* make lightbox look better */
.uk-lightbox-toolbar.uk-position-top {
  background-color: transparent;
}
.uk-lightbox-toolbar.uk-position-bottom {
  background-color: rgba(0,0,0,0.6);
}

blockquote {
    font-style: normal;
    font-size: 18px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}
blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 90px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

#contact-card {
  border: 1px solid darkslategray;
  margin-bottom: -70px;
}
#contact-card .green-btn>a, #contact-submit {
  color: black;
}
#contact-section {
  background-image: url("/images/contact/pool_transparent.png");
  background-position: top center;
}
#contact-table {
  width: 95%;
  margin:0 auto;
}
#contact-table thead tr:last-child {
  background-color: rgba(130,149,149,0.1);
}
#details-slideshow {
  width: 60%;
}
#home-card {
  background-color: rgb(248,248,248);
  position: relative;
  padding: 0px 3px;
  z-index: 2;
}
#home-cover-tile {
  position:relative;
}
#home-logo-tile {
  position: absolute;
  text-align:center;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 30%;
  background-color: rgba(47, 79, 79,0.7);
}
#home-location-tile {
  position:absolute;
  top: 10%;
  left: 10%;
  z-index: -1;
}
#home-developer {
  max-width: 250px;
}
#nav {
  padding-top: 60px;
  margin-bottom: 5px;
}

#nav-container {
  background-color: darkslategray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#nav-logo {
  position: absolute;
  top: 5px;
  left: 20px;
  height: 50px;
  float: left;

}

#nav-sub {
  z-index: 2;
  padding: 5px 0px;
  text-align: center;
  font-size: 18px;
}

#nav-sub {
  color: white !important;
}

#nav-sub a {
  color: white;
}

#nav a {
  color: darkslategray;
  position: relative;
}


#nav a, #nav-sub a {
  display: inline-block;
  width: 150px;
  padding: 5px 5px 2px 5px;
  margin: 5px;
  text-align: center;
  font-size: 22px;
}

#nav a:hover, #nav a:active, #nav-sub a:hover, #nav-sub a:active, #active {
  box-shadow: 0 2px #bca68f;
}

#whatsapp i {
  font-size: 2rem;
}
#whatsapp {
  color:green;
  background-color: white;
  float:right;
  white-space:nowrap;
  overflow: hidden;
  text-overflow:clip;
  position: sticky;
  bottom: 40px;
  right: 20px;
  padding: 7px;
  border: 2px solid green;
  border-radius: 30px;
  transition: 0.5s;
  z-index: 5;
}
#whatsapp>span {
  position: absolute;
  left: 10px;
  bottom: 13px;
  transition: 0.5s;
}



/* QUERIES */
/* large breakpoint */
@media screen and (max-width: 1200px) {
  .home-title {
    margin-top:20px;
  }
}

/* medium breakpoint */
@media screen and (max-width: 960px) {
  #details-gallery img {
    max-height: 550px;
  }
  #details-slideshow {
    width: 75%;
  }
  #nav-logo {
    display: none;
  }
  footer * {
    text-align: center;
  }
  footer>div>div>* {
    padding: 0px 10px;
  }
  footer .uk-width-1-2 {
    border-left: 1px solid darkslategray;
  }
  footer img {
    max-height: 80px;
    position: static;
    margin:auto;
  }
  .fix-margin-top {
    margin-top: 15px !important;
  }
  .siteplans {
    width: 100%;
    max-width: 600px;
  }
  .uk-table-small td {
    font-size: 14px;
    padding: 6px 8px;
  }
  .floorplans>div>a{
    width: 120px;
    padding: 3px;
  }
}

/* small breakpoint */
@media screen and (max-width: 640px) {
  p, footer * {
    font-size: 16px;
  }
  #contact-indicate {
    padding-left: 3px;
    padding-right: 3px;
  }
  #contact-table {
    width: 100%;
  }
  #details-slideshow {
    width: 100%;
  }
  #nav a, #nav-sub a {
    font-size: 18px;
    width: 80px;
    margin: 3px;
  }
  #nav-sub a {
    font-size: 18px;
    width: auto;
  }
  #nav-sub > span {
    display: none;
    margin: 10px 0px;
  }
  .green-bg > div {
    padding: 6px;
  }
  .green-bg > div:not(:first-child) {
    padding-left: 3px;
  }
}

/* WhatsApp CSS */
@media screen and (max-width: 1000px) {
  #whatsapp {
    padding-left: 7px;
  }
  #whatsapp>span {
    opacity:0;
  }
  #whatsapp:hover, #whatsapp:focus {
    padding-left: 120px;
  }
  #whatsapp:hover>span, #whatsapp:focus>span {
    opacity:1;
  }
}
@media screen and (min-width: 1000px) {
  #whatsapp {
    bottom: 60px;
    padding-left: 120px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #whatsapp {
    position:relative;
  }
}

/* Animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
